<% provide(:title, "About") %>	
<% provide(:description, "") %>	

	
	<h1 class="title">About WeJaunt</h1>
	
	<div class="containerrow">
	<img class="feature" src="images/aboutpagepics/P1.jpg" alt=""/>
	<div class="text">
	<h3>What is WeJaunt?</h3>
	<h4>Make every weekend memorable, without having to organise a thing!</h4>
	<p>
		WeJaunt curates and coordinates carefree weekend breaks for young professionals. We match up sociable people looking to make the most of their free time with Friday night to Sunday night packages, short trips and activity breaks. All of our Jaunts are pre-planned and ready to go, so there's no administrative hassle for you. Simply book, turn up and Jaunt!
	</p>
	<a class="link" href="jaunts"><p>Check out our Jaunts</p></a>
	</div> <!-- end of text -->
	</div> <!-- end of containerrow -->
	
	
	
	
	
	
	
	<div class="containerrow">
	<img class="feature" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/aboutpagepics/P2.jpg" alt=""/>
	<div class="text reverse">
	<h3>Who do I Jaunt with?</h3>
	<h4>Bring your Jaunt Crew, or let us build one for you</h4>
	<p>
	There are two ways to build your Jaunt Crew - either book as an individual or small group and let us match you up with other young professionals, or book as a closed group, which means you'll Jaunt exclusively with your mates. 
	<br><br>
	If you're looking to meet new people, then the first option will be the best for you. But if you're organising a reunion for old mates, a birthday trip or a weekend away for a team or club, then sign up for exclusive access. You're free to Jaunt whichever way works for you.
	</p>
	<a class="link lightbox smallfont" href="#share" data-lightbox-type="inline"><p>Share with friends to build your Jaunt Crew</p></a>
	</div> <!-- end of text -->
	</div> <!-- end of containerrow -->
	
	
	
	
	
	
	
	
	<div class="containerrow">
	<img class="feature" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/aboutpagepics/p6.jpg" alt=""/>
	<div class="text">
	<h3>What's included?</h3>
	<h4>If it's on the Jaunt itinerary, it's included in the package price</h4>
	<p>
	Our Jaunt packages combine transport, accomodation, meals and activities to give you a memorable weekend characterised by a mix of Action, Indulgence and Social Spice. Meals include drinks as specified on our Jaunt itineraries. The only time you'll incur additional costs during a Jaunt is if you opt for additional activities not included in our itineraries, or if you're looking to go really wild at the bar!
	</p>
	<a class="link" href="jauntdir/prestige"><p>Show me an itinerary!</p></a>
	</div> <!-- end of text -->
	</div> <!-- end of containerrow -->
	
	
	
	
	
	
	
	
	<div class="containerrow">
	<img class="feature" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/vectors/feature.png" alt=""/>
	<div class="text reverse">
	<h3>How can I book Jaunts?</h3>
	<h4>Book Jaunts and build your Jaunt Crew across all devices</h4>
	<p>
		All of our Jaunts can be booked directly through this site. As of February, you'll also be able to book Jaunts using our WeJaunt App.
		<br><br>
		To make building your Jaunt Crew as easy as possible, each of our Jaunt pages gives you the option to share the Jaunt details on Facebook and Twitter. Even better, our forthcoming App let's you message fellow Jaunters in-App. Building a group for memorable weekend breaks has never been easier!
	</p>
	<a class="linked" href="bookings"><p>Go to Booking page</p></a>
	<a class="linked" href="app"><p>Check out the WeJaunt app</p></a>
	</div> <!-- end of text -->
	</div> <!-- end of containerrow -->
	
	
	
	



	<div class="containerrow">
	<img class="feature" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/aboutpagepics/P3.jpg" alt=""/>
	<div class="text">
	<h3>Custom Jaunts</h3>
	<h4>Need a bespoke Jaunt for a private group?</h4>
	<p>
		If you're organising a short trip or weekend break for a particular event, we may be able to customise a Jaunt to suit your group. Desperate to do a particular activity? Got your heart set on a specific combination? Get in touch with our reservations team and we'll try our best to help.
	</p>
	<a class="link" href="mailto:info@wejaunt.com?subject=Customized Jaunt Enquiry"><p>Contact our reservations team</p></a>
	</div> <!-- end of text -->
	</div> <!-- end of containerrow -->
	
	
	
	
	
	
	
	
	
	<div class="containerrow">
	<img class="feature" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/aboutpagepics/P4.jpg" alt=""/>
	<div class="text reverse">
	<h3>How much does it cost?</h3>
	<h4>Jaunts start at &#163 280 per person</h4>
	<p>
		Depending on which Jaunt you choose, our short trips range in price from &#163 280 to &#163 500 per person. Our philosophy is that a Jaunt should cost no more than two or three big nights out in London, or a comparable big city. Whether you opt for a Jaunt at the low or high end of that scale, you can be sure of a really memorable weekend!
	</p>
	<a class="link" href="jaunts"><p>Check out our Jaunts</p></a>
	</div> <!-- end of text -->
	</div> <!-- end of containerrow -->









	<div class="containerrow">
	<img class="feature" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="  data-src="images/aboutpagepics/P5.jpg" alt=""/>
	<div class="text">
	<h3>WeJaunt's Monthly Meet-Up</h3>
	<h4>Because our offline community is just as important to us as our online community</h4>
	<p>
	Part of what makes Jaunting so memorable is the opportunity to meet new people and try new things. As the social side of WeJaunt is so important, we host monthly meet-ups to give Jaunters the opportunity to catch up with friends from past Jaunts and to meet new people and build Crews for future Jaunts. 
	<br><br>
	Our monthly meet-ups take place in central London and are laid back and sociable. Come along for a few drinks, find out about upcoming Jaunts and meet fellow Jaunters face-to-face. If you're keen to make the most of your free time then you'll fit right in!
	</p>
	<a class="link smallfont" href="https://www.facebook.com/WeAreWeJaunt" target="_blank"><p>View monthly meetups on our Facebook page</p></a>
	<a class="link" href="meetups"><p>Reserve a place at next meetup</p></a>
	</div> <!-- end of text -->
	</div> <!-- end of containerrow -->