	<% provide(:title, "Attribution") %>
	<% provide(:description, "") %>	
	
	<h1 class="title">Attribution</h1>
	
	<div class="content">
	
	<p class="para">
	People love Jaunting for loads of different reasons. For the WeJaunt team, one of 
	the main incentives is to see new places and meet new people. Beautiful 
	photography and exciting video inspire us to get out, do new things and explore 
	the opportunities around us. To those who have captured the moments and places 
	that inspire us, we say thank you!
	</p>
	
	<p>
	akunamatata, Flickr &nbsp | &nbsp &nbsp <br> <a href="https://www.flickr.com/photos/akunamatata/6902526827" title="Trail port de la montagne gopro 2012 (2) by akunamatata, on Flickr"><img src="https://farm8.staticflickr.com/7202/6902526827_2ae98a5efd_s.jpg" width="75" height="75" alt="Trail port de la montagne gopro 2012 (2)"></a>
	</p>
	
	<p>
	alex lang, Flickr &nbsp | &nbsp &nbsp <br> <a href="https://www.flickr.com/photos/langalex/3494695701" title="a feudal picnic basket by alex lang, on Flickr"><img src="https://farm4.staticflickr.com/3402/3494695701_6e8df48f33_s.jpg" width="75" height="75" alt="a feudal picnic basket"></a>
	</p>
	
	<p>
	BluEyedA73, Flickr &nbsp | &nbsp &nbsp <br> <a href="https://www.flickr.com/photos/blueyeda73/3822505650" title="Six Weeks Til Greece... Cheers To That! by BluEyedA73, on Flickr"><img src="https://farm3.staticflickr.com/2491/3822505650_1e47a9fd89_s.jpg" width="75" height="75" alt="Six Weeks Til Greece... Cheers To That!"></a>
	</p>
	
	<p>
	Capture Queen, Flickr &nbsp | &nbsp &nbsp <br> <a href="https://www.flickr.com/photos/uaeincredible/3185052942" title="Dancing Flames by Capture Queen, on Flickr"><img src="https://farm4.staticflickr.com/3326/3185052942_f767100dab_s.jpg" width="75" height="75" alt="Dancing Flames"></a>
	</p>
	
	<p>
	charlesdyer, Flickr &nbsp | &nbsp &nbsp <br> <a href="https://www.flickr.com/photos/charliedees/3346941469" title="DSC01759 by Charles Dyer, on Flickr"><img src="https://farm4.staticflickr.com/3658/3346941469_8d822c46a5_s.jpg" width="75" height="75" alt="DSC01759"></a>
	</p>
	
	<p>
	Click-mallorca, Flickr &nbsp | &nbsp &nbsp <br> <a href="https://www.flickr.com/photos/mallorca_excursions_tours_ausfluge/8540569209" title="Mallorca party boat by Click-mallorca.com, on Flickr"><img src="https://farm9.staticflickr.com/8249/8540569209_80433bce1d_s.jpg" width="75" height="75" alt="Mallorca party boat"></a>
	</p>
	
	<p>
	cobalt123, Flickr &nbsp | &nbsp &nbsp <br> <a href="https://www.flickr.com/photos/cobalt/6535340301" title="Warm Neighborhood Gathering by cobalt123, on Flickr"><img src="https://farm8.staticflickr.com/7171/6535340301_ce373866e0_s.jpg" width="75" height="75" alt="Warm Neighborhood Gathering"></a>
	</p>
	
	<p>
	Colm Britton, Flickr &nbsp | &nbsp &nbsp <br> <a href="https://www.flickr.com/photos/colmjude/5797310028" title="Oink oink by Colm Britton, on Flickr"><img src="https://farm6.staticflickr.com/5273/5797310028_a25483e31b_s.jpg" width="75" height="75" alt="Oink oink"></a>
	</p>
			
	<p>
	ctaloi, Flickr &nbsp | &nbsp &nbsp <br> <a href="https://www.flickr.com/photos/aloi/277782049" title="Tonight&#x27;s Dinner: Pork Chops by Christopher Aloi, on Flickr"><img src="https://farm1.staticflickr.com/118/277782049_30c7889b67_s.jpg" width="75" height="75" alt="Tonight&#x27;s Dinner: Pork Chops"></a>
	</p>
	
	<p>
	dMap Travel Guide, Flickr &nbsp | &nbsp &nbsp <br> <a href="https://www.flickr.com/photos/dmap/3347103258" title="you need time for you by dMap Travel Guide, on Flickr"><img src="https://farm4.staticflickr.com/3648/3347103258_45c107637f_s.jpg" width="75" height="75" alt="you need time for you"></a>
	</p>
	
	<p>
	Eli Christman, Flickr &nbsp | &nbsp &nbsp <br> <a href="https://www.flickr.com/photos/gammaman/7011868919" title="Fearless Friday High Ropes Course by Eli Christman, on Flickr"><img src="https://farm8.staticflickr.com/7229/7011868919_8e5254e7c1_s.jpg" width="75" height="75" alt="Fearless Friday High Ropes Course"></a>
	</p>
	
	<p>
	futureshape, Flickr &nbsp | &nbsp &nbsp <br> <a href="https://www.flickr.com/photos/futureshape/15332633478" title="Bewl Water by Alexander Baxevanis, on Flickr"><img src="https://farm4.staticflickr.com/3938/15332633478_a01ec8b3b7_s.jpg" width="75" height="75" alt="Bewl Water"></a>
	</p>
	
	<p>
	Funk Dooby, Flickr &nbsp | &nbsp &nbsp <br> <a href="https://www.flickr.com/photos/funkdooby/14048766531" title="IMG_4147_2592x1728 by Funk Dooby, on Flickr"><img src="https://farm8.staticflickr.com/7072/14048766531_71a8f79fe1_s.jpg" width="75" height="75" alt="IMG_4147_2592x1728"></a>
	</p>
	
	<p>
	Goproo3, Flickr &nbsp | &nbsp &nbsp <br> <a href="https://www.flickr.com/photos/goproo3/15386948767" title="Lyon Extra Race by Goproo3, on Flickr"><img src="https://farm4.staticflickr.com/3935/15386948767_c086fc4ee8_s.jpg" width="75" height="75" alt="Lyon Extra Race"></a>
	</p>
	
	<p>
	hairibaba, Flickr &nbsp | &nbsp &nbsp <br> <a href="https://www.flickr.com/photos/banditvskronik/15044105873" title="Saturdays are for adventure. What a magnificent view. Awesome weekend. by Hairi, on Flickr"><img src="https://farm4.staticflickr.com/3944/15044105873_ebcce8d6c2_s.jpg" width="75" height="75" alt="Saturdays are for adventure. What a magnificent view. Awesome weekend."></a>
	</p>
	
	<p>
	I Robertson, Flickr &nbsp | &nbsp &nbsp <br> <a href="https://www.flickr.com/photos/leith/4867017096" title="Musselburgh Races_1309 by Ian Robertson, on Flickr"><img src="https://farm5.staticflickr.com/4078/4867017096_91a22b8208_s.jpg" width="75" height="75" alt="Musselburgh Races_1309"></a>
	</p>
	
	<p>
	mendhak, Flickr &nbsp | &nbsp &nbsp <br> <a href="https://www.flickr.com/photos/mendhak/15824289787" title="Denbie&#x27;s Wine Estate by mendhak, on Flickr"><img src="https://farm8.staticflickr.com/7514/15824289787_e3725325de_s.jpg" width="75" height="75" alt="Denbie&#x27;s Wine Estate"></a>
	</p>
	
	<p>
	Moyan_Brenn, Flickr &nbsp | &nbsp &nbsp <br> <a href="https://www.flickr.com/photos/aigle_dore/7914623918" title="Party by Moyan Brenn, on Flickr"><img src="https://farm9.staticflickr.com/8436/7914623918_e4b2146aeb_s.jpg" width="75" height="75" alt="Party"></a> <a href="https://www.flickr.com/photos/aigle_dore/7914623264" title="Relax by Moyan Brenn, on Flickr"><img src="https://farm9.staticflickr.com/8448/7914623264_9cb299c2c7_s.jpg" width="75" height="75" alt="Relax"></a>
	</p>
	
	<p>
	Nana B Agyei, Flickr &nbsp | &nbsp &nbsp <br> <a href="https://www.flickr.com/photos/nanagyei/5743496483" title="Later Afternoon Sun by Nana B Agyei, on Flickr"><img src="https://farm3.staticflickr.com/2372/5743496483_dcce6ec2ca_s.jpg" width="75" height="75" alt="Later Afternoon Sun"></a>
	</p>
	
	<p>
	Photographing Travis, Flickr &nbsp | &nbsp &nbsp <br> <a href="https://www.flickr.com/photos/photographingtravis/16284366581" title="Dinner by Travis Wise, on Flickr"><img src="https://farm8.staticflickr.com/7550/16284366581_8d76abe0bc_s.jpg" width="75" height="75" alt="Dinner"></a>
	</p>
	
	<p>
	rabbipredro, Flickr &nbsp | &nbsp &nbsp <br> <a href="https://www.flickr.com/photos/42526411@N06/8479409517" title="HTN Colour (63 of 77) by rabbipedro, on Flickr"><img src="https://farm9.staticflickr.com/8106/8479409517_ae837962d9_s.jpg" width="75" height="75" alt="HTN Colour (63 of 77)"></a>
	</p>
	
	<p>
	Simon, Flickr &nbsp | &nbsp &nbsp <br> <a href="https://www.flickr.com/photos/walhalla/11631644636" title="Palace Pier, Brighton-007 by Simon, on Flickr"><img src="https://farm4.staticflickr.com/3670/11631644636_5c91cc3589_s.jpg" width="75" height="75" alt="Palace Pier, Brighton-007"></a>
	</p>
	
	<p>
	Swaminathan, Flickr &nbsp | &nbsp &nbsp <br> <a href="https://www.flickr.com/photos/araswami/1328979437" title="Dinner @ The Village Pub by Swaminathan, on Flickr"><img src="https://farm2.staticflickr.com/1086/1328979437_2a06d50e22_s.jpg" width="75" height="75" alt="Dinner @ The Village Pub"></a>
	</p>
	
	<p>
	Theodore Scott, Flickr &nbsp | &nbsp &nbsp <br> <a href="https://www.flickr.com/photos/theodorescott/5847288743" title="Wine Cellar at a Monastery by Theodore Scott, on Flickr"><img src="https://farm4.staticflickr.com/3339/5847288743_fd8232770e_s.jpg" width="75" height="75" alt="Wine Cellar at a Monastery"></a>
	</p>
	
	<p>
	ukgardenphotos, Flickr &nbsp | &nbsp &nbsp <br> <a href="https://www.flickr.com/photos/ukgardenphotos/10208196373" title="Lady&#x27;s Walk, Ashridge Forest, Hertfordshire, England | Late Autumn Views (1 of 9) by ukgardenphotos, on Flickr"><img src="https://farm6.staticflickr.com/5447/10208196373_58c3aea37b_s.jpg" width="75" height="75" alt="Lady&#x27;s Walk, Ashridge Forest, Hertfordshire, England | Late Autumn Views (1 of 9)"></a>
	</p>
	
	<p>
	Wisconsin Department of Natural Resources, Flickr &nbsp | &nbsp &nbsp <br> <a href="https://www.flickr.com/photos/widnr/6545595883" title="Clay Pigeons by Wisconsin Department of Natural Resources, on Flickr"><img src="https://farm8.staticflickr.com/7015/6545595883_ddbe61fb07_s.jpg" width="75" height="75" alt="Clay Pigeons"></a>
	</p>
		
	<p>
	wsilver, Flickr &nbsp | &nbsp &nbsp <br> <a href="https://www.flickr.com/photos/psycho-pics/3778822447" title="Fun at the beach by wsilver, on Flickr"><img src="https://farm4.staticflickr.com/3627/3778822447_fc90340d2a_s.jpg" width="75" height="75" alt="Fun at the beach"></a>
	</p>
	
	<p>
	Zach Dischner, Flickr &nbsp | &nbsp &nbsp <br> <a href="https://www.flickr.com/photos/zachd1_618/10235888056" title="Wheelie, Bro by Zach Dischner, on Flickr"><img src="https://farm6.staticflickr.com/5463/10235888056_fd39fcdb5e_s.jpg" width="75" height="75" alt="Wheelie, Bro"></a>
	</p>
	
	<p>
	villunderlondon, Flickr &nbsp | &nbsp &nbsp <br> <a href="https://www.flickr.com/photos/villageunderground/9150832200" title="Fat Freddy&#x27;s Drop by villunderlondon, on Flickr"><img src="https://farm3.staticflickr.com/2851/9150832200_4d8020e3ac_s.jpg" width="75" height="75" alt="Fat Freddy&#x27;s Drop"></a>
	</p>
	
	<p>
	Firecracker Films and EOFT &nbsp | &nbsp &nbsp <br> <a href="http://www.eoft.eu/press/#Pressebilder"><img src="images/blogimages/featuredimages/learningthepiano.jpg" width="75" height="75" alt="EOFT"></a>
	</p>
	
	<p>
	Matt Matches, Flickr &nbsp | &nbsp &nbsp <br> <a href="https://www.flickr.com/photos/mattmatches/9455686487" title="Untitled by Matt Matches, on Flickr"><img src="https://farm8.staticflickr.com/7437/9455686487_89a14aa371_s.jpg" width="75" height="75" alt="Untitled"></a>
	</p>
	
	<p>
	_dChris, Flickr &nbsp | &nbsp &nbsp <br> <a href="https://www.flickr.com/photos/_dchris/16037717575" title="Karibik Cruise 2014 by _dChris, on Flickr"><img src="https://farm8.staticflickr.com/7493/16037717575_8b0ef7b904_s.jpg" width="75" height="75" alt="Karibik Cruise 2014"></a>
	</p>
	
	<p>
	Stuart Gordon, Flickr &nbsp | &nbsp &nbsp <br> <a href="https://www.flickr.com/photos/schoon17/11101651196" title="Gleouraich ViewSW 2 by Stuart Gordon, on Flickr"><img src="https://farm4.staticflickr.com/3687/11101651196_ea4f9a8e5b_s.jpg" width="75" height="75" alt="Gleouraich ViewSW 2"></a>
	</p>
	
	<p>
	Carmelo Speltino, Flickr &nbsp | &nbsp &nbsp <br> <a href="https://www.flickr.com/photos/pigliapost/4541068130" title="Giusto per dare un&#x27;idea by Carmelo Speltino, on Flickr"><img src="https://farm5.staticflickr.com/4055/4541068130_89b2e25071_s.jpg" width="75" height="75" alt="Giusto per dare un&#x27;idea"></a>
	</p>
	
	</div> <!-- end of content -->