	<% provide(:title, "Contact") %>
	<% provide(:description, "") %>	
	
	<h1>Contact</h1>
	
	<h2>Want to Jaunt with us? Need more information or help with a booking? Or just want to get in touch?</h2>	
	
	<h4>We really like hearing from Jaunters and are always available for a chat. To get in touch, use any of the below.</h4>
	
	<h3>Email &#124 info@wejaunt.com</h3>
	<h3>Phone &#124 +44 (0) 20 3532 7526</h3>
	
	<div class="socicons">
	<a href="https://twitter.com/_WeJaunt"><i class="fa fa-twitter fa-4x"></i></a>
	<a href="https://www.facebook.com/WeAreWeJaunt"><i class="fa fa-facebook fa-4x"></i></a>
	</div>
	
	
	
	
	<div id="mc_embed_signup">
		<form action="//wejaunt.us8.list-manage.com/subscribe/post?u=a36c500d536c09e01d8eb4cc2&amp;id=7d4384d05e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    	<div id="mc_embed_signup_scroll">
			<label for="mce-EMAIL"></label>
			<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Sign up to our mailing list..." required>
    		<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    		<div style="position: absolute; left: -5000px;"><input type="text" name="b_a36c500d536c09e01d8eb4cc2_7d4384d05e" tabindex="-1" value=""></div>
    		<div class="clear"><label class="labelbutton" for="mc-embedded-subscribe">Subscribe</label><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    	</div>
		</form>
	</div><!-- end of mailchimp -->
	