	<% provide(:title, "Cornerstone") %>
	<% provide(:description, "") %>	
	
	<div class="head">
	
		<div class="containercol">
		
		<a href="index"><img src="images/logo/allwhitelogo.png" alt="WeJaunt Logo"/></a>
		
		</div> <!-- end of container -->
		
	</div> <!-- end of head -->
	
	<div class="content">
	<h1>What did you do last weekend?</h1>
	<h2>Was it memorable?</h1>

	
	<p>
	Get £20 off memorable weekend breaks for young professionals. Use code <b>CORNERSTONE</b> at <b>WEJAUNT.COM</b>
	</p>
	</div>