	<% provide(:title, "FAQs") %>
	<% provide(:description, "") %>	
	
	<h1 class="title"> FAQs </h1>
	
	<ul>
	<h3>The Jaunts</h3>
	<li><a class="link" href="#1">Where can I go Jaunting?</a></li>
	<li><a class="link" href="#2">What type of activities do you offer?</a></li>
	<li><a class="link" href="#3">Do Jaunts only take place over weekends, or can I Jaunt for a longer period?</a></li>
	<li><a class="link" href="#4">What&#39s included in the price of a Jaunt?</a></li>
	<h3>Jaunt Crews</h3>
	<li><a class="link" href="#5">I want to Jaunt with a group of friends, but our group is smaller than the minimum number required for the Jaunt. Can we still book?</a></li>
	<li><a class="link" href="#6">What do you mean when you say you can build my Jaunt Crew for me?</a></li>
	<li><a class="link" href="#7">Can I Jaunt on my own?</a></li>
	<li><a class="link" href="#8">How far in advance do I need to book?</a></li>
	<li><a class="link" href="#9">Do I have to book and pay for my entire group?</a></li>
	<h3>Booking & Payment</h3>
	<li><a class="link" href="#10">How do I book my place on a Jaunt?</a></li>
	<li><a class="link" href="#11">Do you offer group discounts?</a></li>
	<li><a class="link" href="#12">Do you offer an early payment discount?</a></li>
	<li><a class="link" href="#13">When is full payment due?</a></li>
	<li><a class="link" href="#14">How do I make a change to my reservation?</a></li>
	<h3>Cancellations</h3>
	<li><a class="link" href="#15">What do I do if I need to cancel my booking?</a></li>
	<li><a class="link" href="#16">Do cancellation fees apply?</a></li>
	<h3>Everything Else</h3>
	<li><a class="link" href="#17">I&#39ve got special dietary requirements &#45 can you keep me happy and healthy?</a></li>
	<li><a class="link" href="#18">Are prices based on twin share?</a></li>
	</ul>
	
	<div class="section">
	<h2 id="1">Where can I go Jaunting?</h2>
	<p>
	The majority of our Jaunts are in the UK, although we do operate some in continental Europe (specifically France, Italy, and the Netherlands). In the UK, all of our Jaunts take place at locations that are easily accessible from London after work on a Friday evening.
	</p>
	</div>
	
	
	<div class="section">
	<h2 id="2">What type of activities do you offer?</h2>
	<p>
	We offer a range of different activities on our Jaunts, from sailing and windsurfing to mountain biking, climbing and a military assault course. We also offer wine and food tours. We encourage everyone to enjoy the Jaunt in their own way; suffice it to say, do as little or as much as you want.
	</p>
	</div>
	
	
	<div class="section">
	<h2 id="3">Do Jaunts only take place over weekends, or can I Jaunt for a longer period?</h2>
	<p>
	The majority of our Jaunts run from Friday evening to Sunday evening. However, we also run 3 or 4 day Jaunts based around particular events that take place throughout the year. <br><br> Keep an eye out for an announcement about our week&#45long Jaunts, coming soon.
	</p>
	</div>
	
	
	<div class="section">
	<h2 id="4">What&#39s included in the price of a Jaunt?</h2>
	<p>
	The price of each Jaunt includes transport from a set start and end point, accommodation and all activities, meals and food and drink as specified in the Jaunt itineraries. <br><br> 
	Where Jaunts require flights, we do not include them in our Jaunt price. You will need to arrange your own flights but we can advise as to your best options and help coordinate transfers.
	</p>
	</div>
	
	
	<div class="section">
	<h2 id="5">I want to Jaunt with a group of friends, but our group is smaller than the minimum number required for the Jaunt. Can we still book?</h2>
	<p>
	You&#39ve got two options. We&#39re happy to run the Jaunt for a smaller group, but we will ask you to pay the difference to cover our minimum Jaunt size.
	<br><br>
	Alternatively, if you sign up as a smaller group, we can match you up with other Jaunters to form a bigger group &#45 we can build your Jaunt Crew for you!
	<br><br>
	So if you need some extra bodies to get the Jaunt off the ground, or if you just fancy hanging out with some new people then let us know.
	</p>
	</div>
	
	
	<div class="section">
	<h2 id="6">What do you mean when you say you can build my Jaunt Crew for me?</h2>
	<p>
	The WeJaunt community is made up of young professionals from a range of backgrounds but with shared reference points. Many people have told us that the attraction of WeJaunt for them is the opportunity to meet new people. Because of that, we&#39ve built our platform to allow us to match people up to form like&#45minded Jaunt Crews. We make sure that we match people up with others who are keen to Jaunt in the same way.
	<br><br>
	If you download our <a href="app">free app</a>, you&#39ll be able to build your Jaunt Crew and match up with new Jaunters using your existing social networks.
	<br><br>
	If you&#39d like to meet people before signing up to a Jaunt, then why not come along to one of our monthly meetups in London &#45 check out the details <a href="meetups">here</a>.
	<br><br>
	Download our <a href="app">free app</a> and you&#39ll be able to match up with fellow Jaunters based on your existing social networks.
	</p>
	</div>
	
	
	<div class="section">
	<h2 id="7">Can I Jaunt on my own?</h2>
	<p>
	Yes, you don&#39t need a group to Jaunt with &#45 we can build your Jaunt Crew for you.
	</p>
	</div>
	
	
	<div class="section">
	<h2 id="8">How far in advance do I need to book?</h2>
	<p>
	Provided there is still space available on the Jaunt, you can book up to one week ahead of the Jaunt date.
	</p>
	</div>
	
	
	<div class="section">
	<h2 id="9">Do I have to book and pay for my entire group?</h2>
	<p>
	Nope, we are happy to take individual payments from different group members &#45 just make sure you let us know who you&#39re Jaunting with so there&#39s no confusion!
	</p>
	</div>
	
	
	<div class="section">
	<h2 id="10">How do I book my place on a Jaunt?</h2>
	<p>
	The easiest way is to use our online booking forms. Find the Jaunt that you&#39re after, then simply click the Book Jaunt button and fill out the online form.
	<br><br>
	Alternatively, call our reservations team on +44 (0)20 3532 7526.
	</p>
	</div>
	
	
	<div class="section">
	<h2 id="11">Do you offer group discounts?</h2>
	<p>
	Yes, when booking as a group of 4 or more on a non&#45exclusive Jaunt, you will be eligible for a 10% group&#45booking discount. This discount may not be used in conjunction with any other discount or offer.
	</p>
	</div>
	
	
	<div class="section">
	<h2 id="12">Do you offer an early payment discount?</h2>
	<p>
	Yes, when the full cost of the Jaunt is paid on initial sign&#45up and that sign&#45up occurs more than 8 weeks in advance of the Jaunt, you will be eligible for a 10% discount. This discount may not be used in conjunction with any other discount or offer.
	</p>
	</div>
	
	
	<div class="section">
	<h2 id="13">When is full payment due?</h2>
	<p>
	Full payment is due 30 days prior to the Jaunt. If the payment isn&#39t made by the due date, WeJaunt may cancel your reservation and charge cancellation fees as specified below.
	</p>
	</div>
	
	
	<div class="section">
	<h2 id="14">How do I make a change to my reservation?</h2>
	<p>
	Email info@wejaunt.com or call our reservations team on +44 (0)20 3532 7526.
	</div>
	
	
	<div class="section">
	<h2 id="15">What do I do if I need to cancel my booking?</h2>
	<p>
	Email info@wejaunt.com or call our reservations team on +44 (0)20 3532 7526.
	</p>
	</div>
	
	
	<div class="section">
	<h2 id="16">Do cancellation fees apply?</h2>
	<p>
	If you give more than one month&#39s notice, only your deposit will be forfeited. If you give between one week and one month&#39s notice, 75% of the Jaunt cost will be forfeited. If you give less than one week&#39s notice, 100% of the Jaunt cost will be forfeited.
	</p>
	</div>
	
	
	<div class="section">
	<h2 id="17">I&#39ve got special dietary requirements &#45 can you keep me happy and healthy?</h2>
	<p>
	Absolutely &#45 just let us know what you can/can&#39t eat and we&#39ll get it sorted.
	</p>
	</div>
	
	
	<div class="section">
	<h2 id="18">Are prices based on twin share?</h2>
	<p>
	Most trips are based on twin share, unless otherwise specified. Some trips offer single occupancy.
	</p>
	</div>
	
	