	<% provide(:title, "Jaunts") %>
	<% provide(:description, "") %>	
	
	<h1 class="title">The Jaunts</h1>

	
	<p class="non">
	<a href="jaunts">UK Jaunts</a>
	/
	<a href="eurojaunts" class="noton">Euro Jaunts</a>
	</p>
	
	<div class="color">
	
	
	
	
	
	<div class="containerrow topfeature">
	<img class="feature" src="images/jaunts/balance/balancethumb.jpg" alt=""/>
	<div class="text">
	<h4>The Balance</h4>
	<h5>Stand Up Paddleboarding & Yoga Retreat</h5>
	<p>Based on the beautiful North Cornish Coast, we've teamed up with Harlyn Surf School to bring you a stunning retreat that quite literally combines yoga and Stand Up Paddleboarding (SUP)... you'll be balancing on your paddleboard and doing yoga at the same time! Whether you're a novice or an old-hand, this Jaunt is a great opportunity to get out on the water, tackle SUP and enjoy some relaxing yoga sessions over the weekend. And of course, as it's a Jaunt we're putting the emphasis on socialising with a great bunch of like-minded people. To kick things off in the right fashion, we've lined you up a 3 course dinner on your first night at The Green Room, run by 2008 Masterchef winner, James Nathan. With a private hot tub, tennis courts, indoor swimming pool, wave rider machine, gym, sauna and spa all available to you, you can make this Jaunt as active or as social as you like. Or best of all, both!
	<p class="quote">
	Action: <br class="hid"><i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star-o"></i> <br>
	Indulgence: <br class="hid"><i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <br>
	Social Spice: <br class="hid"><i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star-o"></i> <br>
	Price: <br class="hid"><i class=" fa fa-gbp"></i> <i class="fa fa-gbp"></i> <i class=" fa fa-gbp"></i><br>
	</p>
	<a class="link" href="jauntdir/balance"><p>Check it out</p></a>
	<a class="link" href="bookings"><p>Book</p></a>
	</div> <!-- end of text -->
	</div> <!-- end of containerrow -->
	
	
	
	
	
	
	
	<div class="containerrow">
	<img class="feature" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/jaunts/brave/bravethumb.jpg" alt=""/>
	<div class="text">
	<h4>The Brave</h4>
	<h5>Wine Tasting &#124 Mountain Biking &#124 Spa Visit &#124 Country Dining</h5>
	<p>The Brave kicks off with a stonker of a welcome meal to set your Jaunt Crew up for Saturday's mountain biking excursion. Following your off-road work-out, and prepped with a prosecco-fuelled lunch, The Brave slows you down and chills you out with a relaxing spa afternoon. Then it's off for a three course dinner and drinks to give your night a bit of spark. Sunday is reserved for Indulgence, with a big breakfast followed by wine tasting and a vinyard tour, and then a long Sunday roast in the afternoon. With The Brave, you'll be excited, thrilled and recharged in equal measure - what a combo!</p>
	<p class="quote">
	Action: <br class="hid"><i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star-o"></i> <i class=" fa fa-star-o"></i> <br>
	Indulgence: <br class="hid"><i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star-o"></i> <br>
	Social Spice: <br class="hid"><i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star-o"></i> <i class=" fa fa-star-o"></i> <br>
	Price: <br class="hid"><i class=" fa fa-gbp"></i> <i class="fa fa-gbp"></i> <i class=" fa fa-gbp grey"></i><br>
	</p>
	<a class="link" href="jauntdir/brave"><p>Check it out</p></a>
	<a class="link" href="bookings"><p>Book</p></a>
	</div> <!-- end of text -->
	</div> <!-- end of containerrow -->
	
	

	
	
	
	
	
	
	
	
	<div class="containerrow">
	<img class="feature" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/jaunts/champion/championthumb.jpg" alt=""/>
	<div class="text">
	<h4>The Champion</h4>
	<h5>Golf | Country Dining | Mountain Biking | Wine Tasting</h5>
	<p>For the golfers amongst you, this could be the Jaunt you've been waiting for as Sunday is given over to glorious golfing on the championship course in the shadow of Hever Castle. Before that, you'll hit the trails on Saturday for a morning mountain biking, before enjoying an afternoon of wine tasting and a three course class act of a group dinner. Once bragging rights are settled on the course on Sunday, settle in for a long roast dinner in the afternoon and toast the weekend's successes.</p>
	<p class="quote">
	Action:  <br class="hid"><i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star-o"></i> <i class=" fa fa-star-o"></i> <br>
	Indulgence:  <br class="hid"><i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star-o"></i> <br>
	Social Spice:  <br class="hid"><i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star-o"></i> <br>
	Price:  <br class="hid"><i class=" fa fa-gbp"></i> <i class="fa fa-gbp"></i> <i class=" fa fa-gbp grey"></i><br>
	</p>
	<a class="link" href="jauntdir/champion"><p>Check it out</p></a>
	<a class="link" href="bookings"><p>Book</p></a>
	</div> <!-- end of text -->
	</div> <!-- end of containerrow -->
	
	
	
	



	<div class="containerrow">
	<img class="feature" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/jaunts/debutant/debutantthumb.jpg" alt=""/>
	<div class="text">
	<h4>The Debutant</h4>
	<h5>Walking & Wine Weekend</h5>
	<p>What you see is what you get with the Debutant. If you're looking for a quintessentially English weekend away in the country, then this is the Jaunt for you. With a private cottage in Kent as your base, the stage is set for a weekend of countryside walking, wine tasting and exploring the culinary delights of the region. And yes, we've taken care of all of that for you - it wouldn't be a Jaunt if we hadn't, would it?</p>
	<p class="quote">
	Action: <br class="hid"> <i class=" fa fa-star"></i> <i class=" fa fa-star-o"></i> <i class=" fa fa-star-o"></i> <i class=" fa fa-star-o"></i> <i class=" fa fa-star-o"></i> <br>
	Indulgence: <br class="hid"> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star-o"></i> <br>
	Social Spice: <br class="hid"> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star-o"></i> <i class=" fa fa-star-o"></i> <br>
	Price: <br class="hid"> <i class=" fa fa-gbp"></i> <i class="fa fa-gbp grey"></i> <i class=" fa fa-gbp grey"></i><br>
	</p>
	<a class="link" href="jauntdir/debutant"><p>Check it out</p></a>
	<a class="link" href="bookings"><p>Book</p></a>
	</div> <!-- end of text -->
	</div> <!-- end of containerrow -->
	
	
	
	
	
	
	
	
	
	<div class="containerrow">
	<img class="feature" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/jaunts/drop/dropthumb.jpg" alt=""/>
	<div class="text">
	<h4>The Drop</h4>
	<h5>Assault Course | Mountain Biking | Hever Castle | Country Dining</h5>
	<p>The Drop is the perfect way to spend a weekend away with friends - or for that matter, to meet new friends! A jamboree of high octane activities that can be as competitive as you want them to be and a collection of stand-out group meals to set the social fires burning. With cosy country accommodation in the stunning surrounds of Sussex, this Jaunt is an instant classic!</p>
	<p class="quote">
	Action: <br class="hid"> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star-o"></i> <br>
	Indulgence: <br class="hid"> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star-o"></i> <i class=" fa fa-star-o"></i> <i class=" fa fa-star-o"></i> <br>
	Social Spice: <br class="hid"> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star-o"></i> <br>
	Price: <br class="hid"> <i class=" fa fa-gbp"></i> <i class="fa fa-gbp grey"></i> <i class=" fa fa-gbp grey"></i><br>
	</p>
	<a class="link" href="jauntdir/drop"><p>Check it out</p></a>
	<a class="link" href="bookings"><p>Book</p></a>
	</div> <!-- end of text -->
	</div> <!-- end of containerrow -->









	<div class="containerrow">
	<img class="feature" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/jaunts/glory/glorythumb.jpg" alt=""/>
	<div class="text">
	<h4>The Glory</h4>
	<h5>Horse Racing | Wine Tasting | Hever Castle | Country Dining</h5>
	<p>The Glory is a classic combination of eating, drinking and observing, without the action-led thrills and spills of some of our other jaunts. If you like to use your weekends to relax, if you like making friends over good food and drink, or if its your first time Jaunting, then the Glory is the ideal Jaunt for you!</p>
	<p class="quote">
	Action: <br class="hid"> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star-o"></i> <i class=" fa fa-star-o"></i> <i class=" fa fa-star-o"></i> <br>
	Indulgence: <br class="hid"> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star-o"></i> <br>
	Social Spice: <br class="hid"> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <br>
	Price: <br class="hid"> <i class=" fa fa-gbp"></i> <i class="fa fa-gbp"></i> <i class=" fa fa-gbp grey"></i><br>
	</p>
	<a class="link" href="jauntdir/glory"><p>Check it out</p></a>
	<a class="link" href="bookings"><p>Book</p></a>
	</div> <!-- end of text -->
	</div> <!-- end of containerrow -->

	
	
	
	
	
	<div class="containerrow">
	<img class="feature" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/jaunts/gourmand/gourmandthumb.jpg" alt=""/>
	<div class="text">
	<h4>The Gourmand</h4>
	<h5>Walking & Dining</h5>
	<p>Eating, drinking and socialising is the name of the game with The Gourmand. If you're the type of person who likes to relax and indulge at the weekend, leaving your sports and activities for during the week, then this is the Jaunt for you. The Gourmand takes you on a tour of foodie hangouts around Sussex, focusing on local produce and lazy post-prandial wanderings. With specially selected dining options and a local vinyard tour, this Jaunt is perfect for Jaunters who prefer conversation to competition.</p>
	<p class="quote">
	Action: <br class="hid"> <i class=" fa fa-star"></i> <i class=" fa fa-star-o"></i> <i class=" fa fa-star-o"></i> <i class=" fa fa-star-o"></i> <i class=" fa fa-star-o"></i> <br>
	Indulgence: <br class="hid"> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <br>
	Social Spice: <br class="hid"> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star-o"></i> <i class=" fa fa-star-o"></i> <br>
	Price: <br class="hid"> <i class=" fa fa-gbp"></i> <i class="fa fa-gbp"></i> <i class=" fa fa-gbp grey"></i> <br>
	</p>
	<a class="link" href="jauntdir/gourmand"><p>Check it out</p></a>
	<a class="link" href="bookings"><p>Book</p></a>
	</div> <!-- end of text -->
	</div> <!-- end of containerrow -->






	<div class="containerrow">
	<img class="feature" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/jaunts/guarantee/guaranteethumb.jpg" alt=""/>
	<div class="text">
	<h4>The Guarantee</h4>
	<h5>High Wire | Climbing | Mountain Biking | Country Dining</h5>
	<p>The Guarantee is high on Action - perfect for Jaunters who like to feel like they've really made something of their weekend. First off, it's a day of climbing and mountain biking in the stunning surroundings of Bewl water, finished with a great group meal at a country pub. Then on Sunday we're off for some treetop hi-jinx complete with huge swings and zip-wires. And since after all that you'll have an appetite, we finish with a glorious Sunday roast - you'll be busy on this Jaunt, but you'll certainly be eating well.</p>
	<p class="quote">
	Action: <br class="hid"> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star-o"></i> <br>
	Indulgence: <br class="hid"> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star-o"></i> <br>
	Social Spice: <br class="hid"> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star-o"></i> <br>
	Price: <br class="hid"> <i class=" fa fa-gbp"></i> <i class="fa fa-gbp"></i> <i class=" fa fa-gbp grey"></i><br>
	</p>
	<a class="link" href="jauntdir/guarantee"><p>Check it out</p></a>
	<a class="link" href="bookings"><p>Book</p></a>
	</div> <!-- end of text -->
	</div> <!-- end of containerrow -->







	<div class="containerrow">
	<img class="feature" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/jaunts/jolly/jollythumb.jpg" alt=""/>
	<div class="text">
	<h4>The Jolly</h4>
	<h5>Bell Tent Glamping | Brighton Fringe Festival | Prosecco Hog Roast | South Downs Bike Ride</h5>
	<p>For the glampers, the jokers and all those looking for a something a bit different from their weekends, The Jolly does what it says on the tin. Take your leave of the city, and relax in luxury bell tents for the weekend. On day one it's fun and games at the Brighton fringe festival, and on day two, enjoy a revitalising bike ride across the South Downs. For Social Spice, you won't get much better than this Jaunt in Brighton.</p>
	<p class="quote">
	Action: <br class="hid"> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star-o"></i> <i class=" fa fa-star-o"></i> <i class=" fa fa-star-o"></i> <br>
	Indulgence: <br class="hid"> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star-o"></i> <i class=" fa fa-star-o"></i> <br>
	Social Spice: <br class="hid"> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <br>
	Price: <br class="hid"> <i class=" fa fa-gbp"></i> <i class="fa fa-gbp"></i> <i class=" fa fa-gbp grey"></i> <br>
	</p>
	<a class="link" href="jauntdir/jolly"><p>Check it out</p></a>
	<a class="link" href="bookings"><p>Book</p></a>
	</div> <!-- end of text -->
	</div> <!-- end of containerrow -->







	<div class="containerrow">
	<img class="feature" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/jaunts/prestige/prestigethumb.jpg" alt=""/>
	<div class="text">
	<h4>The Prestige</h4>
	<h5>Windsurfing &#124 SUP &#124 Gourmet Dining &#124 Walking & Wine</h5>
	<p>The Prestige owes its brilliance to its triple W - the combination of windsurfing, wine and countryside walking. For a weekend out of the city where relaxation should play just as much of a role as activities, this is the Jaunt. With a private chef serving up specials for the group, a wine tour and some delightful walking in the Kent countryside, The Prestige ticks all of the boxes. And if you want to put a bit more air in your lungs and action in your legs, then take advantage of nearby windsurfing or stand up paddle boarding.</p>
	<p class="quote">
	Action: <br class="hid"> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star-o"></i> <i class=" fa fa-star-o"></i> <br>
	Indulgence: <br class="hid"> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star-o"></i> <br>
	Social Spice: <br class="hid"> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star-o"></i> <br>
	Price: <br class="hid"> <i class=" fa fa-gbp"></i> <i class="fa fa-gbp"></i> <i class=" fa fa-gbp grey"></i><br>
	</p>
	<a class="link" href="jauntdir/prestige"><p>Check it out</p></a>
	<a class="link" href="bookings"><p>Book</p></a>
	</div> <!-- end of containerrow -->







	<div class="containerrow">
	<img class="feature" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/jaunts/rascal/rascalthumb.jpg" alt=""/>
	<div class="text">
	<h4>The Rascal</h4>
	<h5>Clay Pigeon Shooting &#124 Bell Tent Glamping &#124 Gastropub Hot Stone Grill</h5>
	<p>Join a Jaunt Crew for an adventure in the New Forest, complete with tandem bike riding, whizzing from place to place in Twizy electric cars and the perfect night-spot of luxurious bell tents. Get your eye in with some clay pigeon shooting (there's not much of that in the City, is there?), then share your shooting stories over a delicious meal cooked on a hot stone grill.</p>
	<p class="quote">
	Action: <br class="hid"> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star-o"></i> <br>
	Indulgence: <br class="hid"> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star-o"></i> <i class=" fa fa-star-o"></i> <i class=" fa fa-star-o"></i> <br>
	Social Spice: <br class="hid"> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star-o"></i> <br>
	Price: <br class="hid"> <i class=" fa fa-gbp"></i> <i class="fa fa-gbp"></i> <i class=" fa fa-gbp grey"></i> <br>
	</p>
	<a class="link" href="jauntdir/rascal"><p>Check it out</p></a>
	<a class="link" href="bookings"><p>Book</p></a>
	</div> <!-- end of text -->
	</div> <!-- end of containerrow -->








	<div class="containerrow">
	<img class="feature" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/jaunts/vine/vinethumb.jpg" alt=""/>
	<div class="text">
	<h4>The Vine</h4>
	<h5>Walking & Wine</h5>
	<p>The Vine is to Surrey what The Debutant is to Kent - with a few small tweaks. On The Vine, we've gone for gorgeous glamping accommodation hidden away amongst stunning hills - brilliant countryside walking is literally right on your doorstep. And of course we've lined you up the kind of drinks reception and delicious dining that you would expect from one of our jaunts!</p>
	<p class="quote">
	Action: <br class="hid"> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <br>
	Indulgence: <br class="hid"> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star-o"></i> <br>
	Social Spice: <br class="hid"> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star-o"></i> <i class=" fa fa-star-o"></i> <br>
	Price: <br class="hid"> <i class=" fa fa-gbp"></i> <i class="fa fa-gbp"></i> <i class=" fa fa-gbp"></i> <br>
	</p>
	<a class="link" href="jauntdir/vine"><p>Check it out</p></a>
	<a class="link" href="bookings"><p>Book</p></a>
	</div> <!-- end of text -->
	</div> <!-- end of containerrow -->
	
	
	
	
	
	
	
	
	<div class="containerrow">
	<img class="feature" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/jaunts/wave/wavethumb.jpg" alt=""/>
	<div class="text">
	<h4>The Wave</h4>
	<h5>Surfing and Yoga Retreat</h5>
	<p>One of two Jaunts on the North Cornish Coast, this surf and yoga Jaunt in Perranporth is a carefully tailored weekend retreat to leave you feeling invigorated and uplifted. Either come with a group of friends, or come alone and let us build your Jaunt Crew for you! With surf lessons everyday, you'll be amazed at how much you can improve. All lessons are tailored to your individual ability and run by experienced and highly professional instructors. Work up a sweat in the surf, and then find your inner calm with daily yoga sessions, either on the sunny outdoor decking or in our yoga studio. And to keep you busy for the rest of the Jaunt, take advantage of access to a swimming pool, gym, spa, sauna, tennis courts and wave rider machine.
	<p class="quote">
	Action:  <br class="hid"><i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star-o"></i> <br>
	Indulgence:  <br class="hid"><i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <br>
	Social Spice:  <br class="hid"><i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star-o"></i> <br>
	Price:  <br class="hid"><i class=" fa fa-gbp"></i> <i class="fa fa-gbp"></i> <i class=" fa fa-gbp"></i><br>
	</p>
	<a class="link" href="jauntdir/wave"><p>Check it out</p></a>
	<a class="link" href="bookings"><p>Book</p></a>
	</div> <!-- end of text -->
	</div> <!-- end of containerrow -->
	
	
	
	
	
	
	
	
	
	<div class="containerrow">
	<img class="feature" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="images/jaunts/whimsy/whimsythumb.jpg" alt=""/>
	<div class="text">
	<h4>The Whimsy</h4>
	<h5>Sailing &#124 Mountain Biking &#124 Hog Roast</h5>
	<p>If you're looking for the good old WeJaunt combination of Action, Indulgence and Social Spice, you couldn't get any classier than The Whimsy. For Action, you'll be sailing and trail mountain biking in the Kent countryside; for indulgence, we've lined up wine tasting at one of the region's finest vinyards, and for Social Spice, get stuck into a Saturday night hog roast at your private accommodation. This Jaunt can be 20 Jaunters strong and is one of our personal favourites!</p>
	<p class="quote">
	Action: <br class="hid"> <i class=" fa fa-star"></i> <i class=" fa fa-star-o"></i> <i class=" fa fa-star-o"></i> <i class=" fa fa-star-o"></i> <i class=" fa fa-star-o"></i> <br>
	Indulgence: <br class="hid"> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star-o"></i> <br>
	Social Spice: <br class="hid"> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star"></i> <i class=" fa fa-star-o"></i> <br>
	Price: <br class="hid"> <i class=" fa fa-gbp"></i> <i class="fa fa-gbp grey"></i> <i class=" fa fa-gbp grey"></i> <br>
	</p>
	<a class="link" href="jauntdir/whimsy"><p>Check it out</p></a>
	<a class="link" href="bookings"><p>Book</p></a>
	</div> <!-- end of text -->
	</div> <!-- end of containerrow -->