	<% provide(:title, "Providers") %>
	<% provide(:description, "") %>	
	
	<div class="links">
	<a href="#jaunts" class="leftlink">Jaunts</a>
	<a href="#providers" class="bord">Jaunt Providers</a>
	<a href="#benefits" class="bord">Benefits</a>
	<a href="#register" class="rightlink">Register</a>
	</div>
	

	<p class="topmargin">
	WeJaunt is a <b>marketplace for short group trips.</b> 
	Through WeJaunt, hotels, tour companies, events and activity providers can offer group packages to our member-base of <b>young professionals.</b> 
	On the buy-side, our users are typically cash-rich and time-poor, work hard during the week and want to <b>make the most of their weekends.</b>
	</p>
	
	<p>
	Our Jaunts are typically open to groups of between 8 and 24 people in size. 
	By selling to groups in this way, our Jaunt Providers benefit from <b>economies of scale</b> and are able to fill excess capacity in one fell swoop.
	</p>
	
	<p id="jaunts">
	Some Jaunt Providers choose to sell packages through WeJaunt that they host in full. Others look to collaborate with other local providers to offer a package which is more attractive by virtue of the sum of its parts. 
	Either way, through our online and mobile platform, we provide <b>more bookings, increased custom</b> and <b>repeat business</b> for our partner providers.
	</p>

	<h3>Jaunts</h3>
	
	<p>
	Mixing <b>events, activities and group meals,</b> our Jaunts are designed to give Jaunters the feeling that they have really made the most of their weekends and short breaks.
	</p>

	<p>
	Some of our Jaunts are designed to be more active than others, For example, we host packages including mountain biking, climbing, windsurfing and a military assault course.
	</p>
	
	<p>
	However, other Jaunts are more relaxed and include, for example, wine testing, spa sessions or countryside walking.
	</p>
	
	<p>
	As a rough guide, Jaunts should include at least one activity and one group meal or event each day.
	</p>
	
	<p  id="providers">
	For examples of the type of Jaunt that we currently offer, view our <b>Jaunt List</b> by clicking <a href="../jaunts">here.</a>
	</p>
	
	
	<h3>Jaunt Providers</h3>
	
	<p>
	Although not an exhaustive list, examples of suitable Jaunt Providers include:
	</p>
	
	<ul>
		<li>hotels or other accommodation providers</li>
		<li>activity providers</li>
		<li>spas or wellness boutiques</li>
		<li>restaurants, food producers or cookery schools</i>
		<li id="benefits">course or event organisers</li>
	</ul> 
	
	<h3>Benefits</h3>
	
	<p>
	For Jaunt Providers, WeJaunt means:
	</p>
	
	<ul>
		<li>group bookings</li>
		<li>regular, predictable income</li>
		<li>a solution for filling excess capacity</li>
		<li>opportunity to market-test new packages or products</li>
		<li>economies of scale</li>
		<li id="register">exposure to new business</li>
	</ul>
	
	
	<h3>Register as a WeJaunt Provider</h3>

	<!-- Change the width and height values to suit you best -->
	<div class="typeform-widget" data-url="https://willhall.typeform.com/to/BdGSTV" data-text="Jaunt Providers | Submit a Jaunt" style="width:64%;height:360px;"></div>
	<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
    
